body {
    background: #1d1d1d;
    display: block;
    color: #fff;
    padding-left: 13rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-menu {
    width: 8rem;
    background-color: #181818;
    height: 100vh;
    position: fixed;
    lefT: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.list_menu a {
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.6rem;
    color: #909096;
    line-height: 5rem;
    border-bottom: 1px solid #282828;
}

.about h4, h3 {
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: rgba(213, 213, 213, 0.38);
    line-height: 2em;
}

.about h1 {
    font-family: Impact, fantasy;
    color: #ffffff;
}

.about h3 {
    color: rgba(235, 255, 0, 0.56);
    /*line-height: 0em;*/
}

/*Класс с работами*/
.myWorks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 8px;
    margin-right: 40px;
}

.work_box {
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 1rem;
    /*overflow: hidden;*/
}

.work_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
}

.work_img:hover {
    filter: blur(0px);
}

/*.work_overlay{*/
/*    position: absolute;*/
/*    top: -100%;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background: hsla(0, 0%, 100%, 0.34);*/
/*}*/
/*.work_overlay h2{*/
/*    font-size: 1.6rem;*/
/*    font-weight: 600;*/
/*    margin-bottom: 10px;*/
/*}*/
/*.work_overlay .bx{*/
/*    font-size: 24px;*/
/*    padding: 10px;*/
/*    background: #404141;*/
/*    color: #08fdd8;*/
/*    border-radius: 4px;*/
/*}*/
/*.work_overlay .bx:hover{*/
/*    background: #03e9f4;*/
/*    transition: 0.3s all linear;*/
/*}*/
/*.work_box:hover .work_overlay{*/
/*    top: 0;*/
/*    transition: 0.3s all ease;*/
/*}*/

.text_zone {
    margin-top: 200px;
}

.text_zone h4 {
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: rgba(213, 213, 213, 0.38);
    line-height: 2em;
}

/*Зона с описанием работ*/
.wrapper {
    height: 7vh;
    display: grid;
    place-items: center;
}

.typing-demo {
    color: rgb(118, 255, 0);
    width: 31ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 3em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}


.text_zone h3 {
    font-size: 3rem;
    text-align: center;
    line-height: 0em;
}

/*Класс с сертификатами*/
.certificates {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 2rem;
}

.certificates h1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 8px;
    margin-right: 40px;
}

.certificates_box {
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 1rem;
}

.certificate_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
}

.certificate_img:hover {
    filter: blur(0px);
}

/*Связаться со мной*/
.contact-me {
    font-family: Brush Script MT, Brush Script Std, cursive;
    width: 100%;
    border: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

.contact-me h1 {
    font-size: 30px;
    text-align: left;
    color: #08fdd8;
    text-transform: uppercase;
}

input {
    font-family: Brush Script MT, Brush Script Std, cursive;
    background: transparent;
    height: 40px;
    border: none;
    border-bottom: 1px solid #fff;
    padding-left: 20px;
    font-size: 24px;
    color: white;
}

input::placeholder {
    font-size: 24px;
    color: #8d8d8d;
}

input:focus::placeholder {
    color: #ffffff;
}

input:focus {
    outline: none;
}

.name {
    width: 59%;
}

.messageSubject {
    width: 290px;
}

.text_area {
    margin-top: 40px;
    border: 1px solid #ffffff;
    border-radius: 13px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
}

.message {
    font-size: 24px;
    color: #8d8d8d;
}

textarea {
    margin-top: 0px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #fff;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

textarea:focus::placeholder {
    color: #ffffff;
}

textarea:focus {
    outline: none;
}

.send {
    width: 100%;
    text-align: right;
}

button {
    float: right;
    font-family: Brush Script MT, Brush Script Std, cursive;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: aqua;
    border-radius: 5px;
    border: 1px solid aqua;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 15px;
}

button:hover {
    background: rgba(0, 0, 0, 0.03);
}

button:active {
    transform: translateY(2px);
}

.js {
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -34px;
}

.work img {
    height: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; /* Отступ сверху */
}

/*Сообщения*/
.message_container {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_message {
    width: 595px;
    padding: 0px 30px 16px;
    background: rgba(25, 25, 25, 0.3);
    border: 1px solid #404141;
    border-radius: 16px;
}

.text_area_message {
    margin-top: 40px;
    border: 1px solid #404141;
    border-radius: 13px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
}

.data_block_message h2 {
    color: white;
    margin: 10px;
    font-family: "Times New Roman";
    font-size: 14px;
}

.data_block_message h3 {
    color: white;
    margin: 10px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
