@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
body {
    background: #1d1d1d;
    display: block;
    color: #fff;
    padding-left: 13rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-menu {
    width: 8rem;
    background-color: #181818;
    height: 100vh;
    position: fixed;
    lefT: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.list_menu a {
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.6rem;
    color: #909096;
    line-height: 5rem;
    border-bottom: 1px solid #282828;
}


/*Класс с работами*/
.work_part {
    display: flex;
    flex-direction: column;
    align-items: normal;
    text-align: left;
}

.work_part h2 {
    margin-top: 0;
    font-size: 2rem;
    line-height: 1.2em;
}

.work_part h1 {
    font-size: 1.5rem;
    line-height: 1.2em;
}

.myWorks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.work_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.work_img {*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

.work_part h2:before {
    content: 'public class Works {';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
}

.work_part h2:after {
    content: 'private String = "';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
    display: block;
    position: relative;
    top: 10px;
    left: 0px;
}

.work_part h1:before {
    content: '";';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
}

.work_part h1:after {
    content: '}';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
    white-space: pre;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}

.work_part h3 {
    font-family: 'Titan One', cursive;
    text-align: center;
    font-size: 5.2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #08fdd8;
}
.myWorks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-right: 40px;
}

.work_box {
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 1rem;
    /*overflow: hidden;*/
}

.work_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
}

.work_img:hover {
    filter: blur(0px);
}
/*about*/

.text_zone_about h1:first-of-type:before {
    content: '@SpringBootApplication';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: rgba(235, 255, 0, 0.56);
    font-size: 18px;
    position: absolute;
    margin-top: 1rem;
    left: 13rem;
}
.text_zone_about h1:first-of-type:after {
    content: 'public class Dmitrii {';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: 3rem;
    left: 13rem;
}
.text_zone_about h2:first-of-type:before {
    content: 'public static void main(String[] args) { ';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: 5rem;
    left: 13rem;
}
.text_zone_about h2:first-of-type:after {
    content: 'SpringApplication.run(Dmitrii.class, args);';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: 7rem;
    left: 13rem;
}
.text_zone_about h3:first-of-type:before {
    content: 'private String aboutMe = “ ';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: 9rem;
    left: 13rem;
}
.text_zone_about h3:first-of-type:after {
    content: '}';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: 39rem;
    left: 13rem;
}
.text_zone_about h4:first-of-type:before {
    content: '";';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: 35rem;
    left: 13rem;
}
.text_zone_about h4:first-of-type:after {
    content: '}';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: 37rem;
    left: 15rem;
}

/*Класс с сертификатами*/
.certificates_part {
    display: flex;
    flex-direction: column;
    align-items: normal;
    text-align: left;
}

.certificates_part h2 {
    margin-top: 0;
    font-size: 2rem;
    line-height: 1.2em;
}

.certificates_part h1 {
    font-size: 1.5rem;
    line-height: 1.2em;
}

.certificates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.certificates_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificates_part h2:before {
    content: 'public class Certificates {';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
}

.certificates_part h2:after {
    content: 'private String = "';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
    display: block;
    position: relative;
    top: 10px;
    left: 0px;
}

.certificates_part h1:before {
    content: '";';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
}

.certificates_part h1:after {
    content: '}';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
    white-space: pre;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}

.certificates_part h3 {
    font-family: 'Titan One', cursive;
    text-align: center;
    font-size: 5.2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #08fdd8;
}
.certificates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-right: 40px;
}

.certificates_box {
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 1rem;
    /*overflow: hidden;*/
}

.certificate_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
}

.certificate_img:hover {
    filter: blur(0px);
}

/*Связаться со мной*/
.text_zone_contact h4{
    display: flex;
    flex-direction: column;
}
.text_zone_contact h4:before {
    content: 'public class ContactMe {';
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
    position: relative;
    order: 1;
}
.text_zone_contact h4:after {
    content: 'private String = "';
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
    position: relative;
    order: 2;
}

.contact-me {
    font-family: Brush Script MT, Brush Script Std, cursive;
    width: 100%;
    border: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;

}

.contact-me h1 {
    font-size: 30px;
    text-align: left;
    color: #08fdd8;
    text-transform: uppercase;
}

input {
    font-family: Brush Script MT, Brush Script Std, cursive;
    background: transparent;
    height: 40px;
    border: none;
    border-bottom: 1px solid #fff;
    padding-left: 20px;
    font-size: 24px;
    color: white;
}

input::placeholder {
    font-size: 24px;
    color: #8d8d8d;
}

input:focus::placeholder {
    color: #ffffff;
}

input:focus {
    outline: none;
}

.name {
    width: 59%;
}

.messageSubject {
    width: 290px;
}

.text_area {
    margin-top: 40px;
    border: 1px solid #ffffff;
    border-radius: 13px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
}

.message {
    font-size: 24px;
    color: #8d8d8d;
}

textarea {
    margin-top: 0px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #fff;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

textarea:focus::placeholder {
    color: #ffffff;
}

textarea:focus {
    outline: none;
}

.send {
    width: 100%;
    text-align: right;
}

button {
    float: right;
    font-family: Brush Script MT, Brush Script Std, cursive;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: aqua;
    border-radius: 5px;
    border: 1px solid aqua;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 15px;
}

button:hover {
    background: rgba(0, 0, 0, 0.03);
}

button:active {
    transform: translateY(2px);
}

.js {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -34px;
}

/*Сообщения*/
.message_container {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_message {
    width: 595px;
    padding: 0px 30px 16px;
    background: rgba(25, 25, 25, 0.3);
    border: 1px solid #404141;
    border-radius: 16px;
}

.text_area_message {
    margin-top: 40px;
    border: 1px solid #404141;
    border-radius: 13px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
}

.data_block_message h2 {
    color: white;
    margin: 10px;
    font-family: "Times New Roman";
    font-size: 14px;
}

.data_block_message h3 {
    color: white;
    margin: 10px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

/*Квадраты*/
.part {
    display: flex;
    flex-direction: column;
    align-items: normal;
    text-align: left;
}
.part h2 {
    margin-top: 150px;
    font-size: 2rem;
    line-height: 1.2em;
}

.part h1 {
    font-size: 1.5rem;
    line-height: 1.2em;
}
.part h3 {
    font-family: 'Titan One', cursive;
    text-align: center;
    font-size: 5.2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #08fdd8;
}
.part h2:before {
    content: 'public class Skills {';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
}

.part h2:after {
    content: 'private String = "';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
    display: block;
    position: relative;
    top: 10px;
    left: 0px;
}

.part h1:before {
    content: '";';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
}

.part h1:after {
    content: '}';
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Kaushan Script', cursive;
    color: #515152;
    font-size: 18px;
    white-space: pre;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}
.bloc_articles {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 2rem;
    margin-right: 40px;
}
.section {
    min-height: 74vh;
    padding: 9rem 3rem;
    position: relative;
    transition: opacity 0.4s;
}

.post {
    padding: 3rem 3rem 2.5rem;
    position: relative;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    background: #1d1d1d;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
    border-top: 2px solid #FD2155;
    overflow: hidden;
}
.section h5 {
    color: white;
}
.post_content {
    color: white;
}
.content h4{
    /*   text-align: center; */
    font-size: 1.6rem;
}