body {
    background: #1d1d1d;
    display: block;
    color: #fff;
    padding-left: 13rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.main-menu {
    width: 8rem;
    background-color: #181818;
    height: 100vh;
    position: fixed;
    lefT: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
    align-items: center;
    margin: 0;
    padding: 20px;
}
.list_menu a{
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.6rem;
    color: #909096;
    line-height: 5rem;
    border-bottom: 1px solid #282828;
}
.about h4, h3{
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: rgba(213, 213, 213, 0.38);
    line-height: 2em;
}
.about h1{
    font-family: Impact, fantasy;
    color: #ffffff;
}
.about h3 {
    color: rgba(235, 255, 0, 0.56);
    /*line-height: 0em;*/
}

/*Класс с работами*/
.myWorks {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 2rem;
}
.myWorks h1{
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: #ffffff;
    font-size: 1.6rem;
}
.text_zone h4{
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: rgba(213, 213, 213, 0.38);
    line-height: 2em;
}
.text_zone h3{
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: rgb(118, 255, 0);
    font-size: 3rem;
    text-align: center;
    line-height: 2em;
}
/*Класс с сертификатами*/
.certificates{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 2rem;
}

.certificates h1{
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: #ffffff;
    font-size: 1.6rem;
}
.contact-me input {
    font-family: Brush Script MT, Brush Script Std, cursive;
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}